:root {
  /* Color Variables */
  --color-very-dark-grayish-blue: hsl(217, 19%, 35%);
  --color-desaturated-dark-blue: hsl(214, 17%, 51%);
  --color-grayish-blue: hsl(212, 23%, 69%);
  --color-light-grayish-blue: hsl(210, 46%, 95%);

  /* Typography */
  --font-body-size: 13px;
  --font-family-headings: "Manrope", sans-serif;
  --font-weight-regular: 500;
  --font-weight-bold: 700;

  /* Layout */
  --mobile-width: 375px;
  --desktop-width: 1440px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: var(--font-body-size);
  font-family: var(--font-family-headings);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-light-grayish-blue);
}

.article-preview-card {
  height: 260px;
  width: 700px;
  display: flex;
  background-color: white;
  border-radius: 6px;
  box-sizing: border-box;
  box-shadow: 0px 8px 11px 0px rgba(212, 221, 236, 0.75);
  flex-shrink: 1;
}

.article-img {
  width: 40%;
  border-radius: 6px;
}

.article-details {
  width: 100%;
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
}

.article-title {
  margin-top: 0.8rem;
  margin-bottom: 0;
}

.publisher-name,
.article-title {
  color: var(--color-very-dark-grayish-blue);
}

.article-description,
.publishing-date {
  color: var(--color-desaturated-dark-blue);
  font-weight: 450;
}

.publisher {
  display: flex;
  position: relative;
  margin-top: 0.75rem;
}
.publisher-info {
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
  margin-left: 0.8rem;
}

.publisher-avatar {
  width: 32px;
  border-radius: 50%;
}
.publisher-name {
  font-size: 0.75rem;
  font-weight: var(--font-weight-bold);
}

.publishing-date {
  font-size: 0.7rem;
}
.share-icon-container {
  position: absolute;
  right: 0;
  background-color: var(--color-light-grayish-blue);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.share-icon-container:hover {
  cursor: pointer;
}

.share-menu {
  background-color: var(--color-very-dark-grayish-blue);
  display: none;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  padding-top: 5px;
  height: 2.8rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(20, 26, 54, 0.2);
  position: absolute;
  right: -88px;
  top: -70px;
  z-index: 2;
}

.share-menu::before {
  content: "";
  position: absolute;
  bottom: -1.4rem;
  left: 50%;
  transform: translateX(-50%);
  border-width: 12.5px;
  border-style: solid;
  border-color: var(--color-very-dark-grayish-blue) transparent transparent
    transparent;
}

.share-menu-text {
  font-size: 0.7rem;
  color: var(--color-grayish-blue);
}

@media (max-width: 500px) {
  .article-preview-card {
    flex-direction: column;
    height: 90%;
    width: 80%;

    overflow: auto;
  }

  .article-description {
    white-space: normal;
  }
  .article-img {
    width: 100%;
  }

  .share-menu {
    right: 0;
  }
}
